.section-container {
    max-width: 1000px;
    margin: 40px auto;
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-grey);
    display: grid;
    grid-template-columns: 1fr 1fr; /* Rozdělení na dva sloupce */
    gap: 50px;
    padding: 20px;
}

h2 {
    color: var(--primary-orange);
    border-bottom: 2px solid var(--primary-orange);
    padding-bottom: 10px;
    text-transform: uppercase;
}

/* Styl pro seznamy v ceníku i hodinách */
ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
}

.price, .time {
    font-weight: bold;
    color: var(--dark-grey); 
}
.time-red {
    font-weight: bold;
    color: rgb(199, 0, 0);
    text-decoration: underline;
}

.today {
    background-color: #fff4e6;
    font-weight: bold;
    color: var(--primary-orange);
    padding: 5px;
    border-radius: 5px;
}
